<h1>Avatar Sizes</h1>

lf-avatar-lg
<div class="lf-avatar lf-avatar-lg">
    <img src="{{img.avatar.src}}">
</div>

default
<div class="lf-avatar">
    <img src="{{img.avatar.src}}">
</div>

lf-avatar-sm
<div class="lf-avatar lf-avatar-sm">
    <img src="{{img.avatar.src}}">
</div>

lf-avatar-xs
<div class="lf-avatar lf-avatar-xs">
    <img src="{{img.avatar.src}}">
</div>
