<h2>Labels</h2>
<span class="lf-label lf-label-default">Default</span>
<span class="lf-label lf-label-primary">Primary</span>
<span class="lf-label lf-label-success">Success</span>
<span class="lf-label lf-label-info">Info</span>
<span class="lf-label lf-label-warning">Warning</span>
<span class="lf-label lf-label-danger">Danger</span>

<h3>Sizes</h3>
<span class="lf-label lf-label-primary lf-label-xl">lf-label-xl</span>
<span class="lf-label lf-label-primary lf-label-lg">lf-label-lg</span>
<span class="lf-label lf-label-primary lf-label-md">lf-label-md</span>
<span class="lf-label lf-label-primary">lf-label</span>
