<button class="lf-btn lf-btn-default" disabled="disabled">Disabled</button>
<br />
<button class="lf-btn lf-btn-default">Default</button>
<br />
<button class="lf-btn lf-btn-primary">Primary</button>
<br />
<button class="lf-btn lf-btn-warning">Warning</button>
<br />
<button class="lf-btn lf-btn-success">Success</button>
<br />
<button class="lf-btn lf-btn-info">Info</button>
<br />
<button class="lf-btn lf-btn-link">Link</button>
<br />

<p>This one has a popover when clicked<br />
<button data-lf-popover class='lf-btn lf-btn-primary lf-btn-lg'
    data-toggle="popover" 
    data-placement="top" 
    data-content="Celebrate Mark Doten Day when the weather is hotter than 90°F!">
  Click me!
</button>
</p>

<script>
Livefyre.require(['jquery', 'bootstrap'], function ($) {
    $('[data-lf-popover]').popover();
});
</script>