<h1>.lf-btn-group</h1>
<div class="lf-btn-group">
  <button type="button" class="lf-btn lf-btn-default">Left</button>
  <button type="button" class="lf-btn lf-btn-default">Middle</button>
  <button type="button" class="lf-btn lf-btn-default">Right</button>
</div>

<section>
  <h2>.lf-btn-toolbar</h2>
  <div class="lf-btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="lf-btn-group">
        <button type="button" class="lf-btn lf-btn-default">1</button>
        <button type="button" class="lf-btn lf-btn-default">2</button>
        <button type="button" class="lf-btn lf-btn-default">3</button>
        <button type="button" class="lf-btn lf-btn-default">4</button>
      </div>
      <div class="lf-btn-group">
        <button type="button" class="lf-btn lf-btn-default">5</button>
        <button type="button" class="lf-btn lf-btn-default">6</button>
        <button type="button" class="lf-btn lf-btn-default">7</button>
      </div>
      <div class="lf-btn-group">
        <button type="button" class="lf-btn lf-btn-default">8</button>
      </div>
</div>
</section>

<section>
  <h2>.lf-btn-group-lg, .lf-btn-group-sm, .lf-btn-group-sx</h2>
      <div class="lf-btn-toolbar" role="toolbar">
        <div class="lf-btn-group lf-btn-group-lg">
          <button type="button" class="lf-btn lf-btn-default">Left</button>
          <button type="button" class="lf-btn lf-btn-default">Middle</button>
          <button type="button" class="lf-btn lf-btn-default">Right</button>
        </div>
      </div>
      <div class="lf-btn-toolbar" role="toolbar">
        <div class="lf-btn-group">
          <button type="button" class="lf-btn lf-btn-default">Left</button>
          <button type="button" class="lf-btn lf-btn-default">Middle</button>
          <button type="button" class="lf-btn lf-btn-default">Right</button>
        </div>
      </div>
      <div class="lf-btn-toolbar" role="toolbar">
        <div class="lf-btn-group lf-btn-group-sm">
          <button type="button" class="lf-btn lf-btn-default">Left</button>
          <button type="button" class="lf-btn lf-btn-default">Middle</button>
          <button type="button" class="lf-btn lf-btn-default">Right</button>
        </div>
      </div>
      <div class="lf-btn-toolbar" role="toolbar">
        <div class="lf-btn-group lf-btn-group-xs">
          <button type="button" class="lf-btn lf-btn-default">Left</button>
          <button type="button" class="lf-btn lf-btn-default">Middle</button>
          <button type="button" class="lf-btn lf-btn-default">Right</button>
        </div>
      </div>
</section>

<section>
  <h2>.lf-btn-group-vertical</h2>
  <div class="lf-btn-group-vertical">
    <button type="button" class="lf-btn lf-btn-default">Button</button>
    <button type="button" class="lf-btn lf-btn-default">Button</button>
    <div class="lf-btn-group">
      <button id="lf-btnGroupVerticalDrop1" type="button" class="lf-btn lf-btn-default dropdown-toggle" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="lf-btnGroupVerticalDrop1">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
    </div>
    <button type="button" class="lf-btn lf-btn-default">Button</button>
    <button type="button" class="lf-btn lf-btn-default">Button</button>
    <div class="lf-btn-group">
      <button id="lf-btnGroupVerticalDrop2" type="button" class="lf-btn lf-btn-default dropdown-toggle" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="lf-btnGroupVerticalDrop2">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
    </div>
    <div class="lf-btn-group">
      <button id="lf-btnGroupVerticalDrop3" type="button" class="lf-btn lf-btn-default dropdown-toggle" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="lf-btnGroupVerticalDrop3">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
    </div>
    <div class="lf-btn-group">
      <button id="lf-btnGroupVerticalDrop4" type="button" class="lf-btn lf-btn-default dropdown-toggle" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="lf-btnGroupVerticalDrop4">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
      </ul>
    </div>
  </div>
</section>
