<h2>lf-btn-group</h2>
<div class="lf-btn-group">
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-primary">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
</div>

<h2>lf-btn-group-lg</h2>
<div class="lf-btn-group lf-btn-group-lg">
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
</div>

<h2>lf-btn-group-sm</h2>
<div class="lf-btn-group lf-btn-group-sm">
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
</div>

<h2>lf-btn-group-xs</h2>
<div class="lf-btn-group lf-btn-group-xs">
  <button class="lf-btn lf-btn-primary">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
  <button class="lf-btn lf-btn-default">Button</button>
</div>
