<div class="lf-alert lf-alert-dismissable">
  I am an alert. I exist to alert you of something.
  <button type="button" class="lf-close light" data-dismiss="alert" aria-hidden="true">
    <i class="fycon-x"></i>
  </button>
</div>