<div class="lf-alert lf-alert-success lf-alert-dismissable">
  Success! That worked.
  <button type="button" class="lf-close light" data-dismiss="alert" aria-hidden="true">
    <i class="fycon-x"></i>
  </button>
</div>