<link rel="stylesheet" href="http://cdn.livefyre.com/libs/sdk/v2.7.0/streamhub-sdk.min.css" />
<article class="content content-tweet content-with-image" data-content-id="tweet-471086061171769344@twitter.com"><div class="content-header">
    <div class="content-header-inner">
            <a class="content-author-avatar" href="https://twitter.com/intent/user?user_id=17715048" target="_blank">
                <img src="http://pbs.twimg.com/profile_images/378800000091746749/6f604f8873ec0f31024001e8cb16c665_normal.jpeg">
            </a>

        <div class="content-byline">
            <a class="hub-tooltip-link tooltip-twitter content-source-logo" href="https://twitter.com/statuses/471086061171769344/" target="_blank" title="View on Twitter"></a>
            <div class="content-author-name">
                <a href="https://twitter.com/intent/user?user_id=17715048" target="_blank">VEJA</a>
            </div>
            <a class="content-author-username" href="https://twitter.com/intent/user?user_id=17715048" target="_blank">@VEJA</a>
        </div>
    </div>
</div>

<div class="content-attachments" data-hub-list-length="1"><div class="content-attachments-stacked"></div>
<div data-hub-list-length="1"><div class="content-attachments-interactive-gallery"></div>
<div class="content-attachments-tiled content-attachments-1"><div><div class="content-attachment content-attachment-square-tile">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo" style="background-image: url(https://pbs.twimg.com/media/BomiRs3IAAExoRX.jpg:large);">
        <img class="content-attachment-actual-image" src="https://pbs.twimg.com/media/BomiRs3IAAExoRX.jpg:large" style="display: none;">
    </div>
</div>
</div></div>
<div class="content-attachments-stacked"></div>
</div></div>

<div class="content-body">
    Acompanhe no Instagram a <a href="https://twitter.com/#!/search/realtime/%23expedicaoveja" class="fyre-hashtag" hashtag="expedicaoveja" rel="tag" target="_blank">#expedicaoveja</a>, projeto que vai revelar o Brasil que dá certo <a href="http://t.co/j89yHL3EiP" target="_blank" rel="nofollow">abr.ai/vejanoinstagram</a> <a href="http://t.co/BXUADjR3lG" target="_blank" rel="nofollow">pic.twitter.com/BXUADjR3lG</a>
</div>


<ul class="content-actions">
    <li class="content-action" data-content-action="reply">
        <a class="hub-tooltip-link content-action-reply" href="https://twitter.com/intent/tweet?in_reply_to=471086061171769344" title="Reply">
            <span>Reply</span>
        </a>
    </li>
    <li class="content-action" data-content-action="retweet">
        <a class="hub-tooltip-link content-action-retweet" href="https://twitter.com/intent/retweet?tweet_id=471086061171769344" title="Retweet">
            <span>Retweet</span>
        </a>
    </li>
    <li class="content-action" data-content-action="favorite">
        <a class="hub-tooltip-link content-action-favorite" href="https://twitter.com/intent/favorite?tweet_id=471086061171769344" title="Favorite">
            <span>Favorite</span>
        </a>
    </li>
</ul>

<div class="content-meta">
    <div class="content-created-at"><a href="https://twitter.com/statuses/471086061171769344/" target="_blank">3h</a></div>
</div>
</article>