<h1>.lf-bar</h1>
<p>
.lf-bar is provided by livefyre-bootstrap.
It can hold a .lf-nav, which extends Bootstrap's .nav and when in a .lf-bar matches the LF style guide.</p>
<p>lf-bar has two themes, .lf-bar-default (light) and
.lf-bar-inverted (dark)</p>
<section>
  <h2>.lf-bar .lf-nav</h2>
  <div class="lf-bar">
    <ul class="lf-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
      <li class="dropdown">
        <a id="drop4" role="button" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li><a>Action</a></li>
          <li><a>Another action</a></li>
          <li><a>Something else here</a></li>
          <li class="divider"></li>
          <li><a>Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section>
  <h2>.lf-bar .lf-bar-default .lf-nav</h2>
  <div class="lf-bar lf-bar-default">
    <ul class="lf-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
      <li class="dropdown">
        <a id="drop4" role="button" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li><a>Action</a></li>
          <li><a>Another action</a></li>
          <li><a>Something else here</a></li>
          <li class="divider"></li>
          <li><a>Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section>
  <h2>.lf-bar .lf-bar-inverted .lf-nav</h2>
  <div class="lf-bar lf-bar-inverted">
    <ul class="lf-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
      <li class="dropdown">
        <a id="drop4" role="button" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li><a>Action</a></li>
          <li><a>Another action</a></li>
          <li><a>Something else here</a></li>
          <li class="divider"></li>
          <li><a>Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
